.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.background-grey {
  background-color: #f3f3f2;
}

.border-5{
  border: 12px solid white;
  border-radius: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.head-custom{
  color:#ffcc00;
}
.para-custom{
  font-size:16px;
  color:grey;
}
.overflow1{
  overflow-x: hidden;
  overflow-y: hidden; 
}
.margin-20{
  margin-top:20px;
}
.graph-heading{
  color:grey;
  margin-top:2px;
  /* border-bottom:1px solid grey; */
  /* width:250px; */
}
.border-bottom{
  border-bottom:1px solid rgb(209, 209, 209);
  margin-top:20px !important;
}

.loadingGraphOpacity{
  opacity: 0.2;
}

.fullPageSpinner{
  margin-top: 25%;
}

.fullPageSpinner.sk-cube-grid {
  width: 50px !important;
  height: 50px !important;
}

.hintStyle {
  border-radius: 4px;
  padding: 7px 7px 1px 7px;
  font-size: 12px;
  background: #3a3a48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  white-space: nowrap
}
.graphcenter{
  margin-left: 20px;
}
.backbtn{
  margin-right: 212px;
    margin-top: 4px !important;
}
.graph-heading1{
  margin-top:6px;
  color:grey;
  margin-left: -187px;
}

.zIndex100 {
  z-index: 100;
}

.marginRight30 {
  margin-right: 30px;
}

/* bar graph x axis label to avoid cutting off */
.rv-xy-plot__inner_380 .rv-xy-plot__inner {
  height: 380px !important;
}

.rv-xy-plot__inner_500 .rv-xy-plot__inner {
  height: 500px !important;
}

.rv-xy-plot__inner_380, .rv-xy-plot__inner_500 {
  height: auto !important;
}

.header-color{
  color:grey;
  margin-left: -127px;
  margin-top: 20px;
}
.butn-top{
  margin-top:13px;
}
.gragh-top{
  margin-top:40px;
}
.margin-row{
  margin-top:40px;
}
.header-color1{
  margin-top: 21px;
  font-size: 21px;
  color:grey;

}
.header-color2{
  margin-top: 21px;
  font-size: 21px;
  color: grey;
  margin-left: 105px;
}
 .margin-top {
  margin-bottom: 22px;
 }
 .table-custom{
  overflow-x: hidden;
 }
 .color-text{
  color: black ;
  font-size: 16px;
}
.color-textt{
color: black;
font-size: 14px;
}
.black-color{
color: black;
}
.switch.on {
background: #4ae2b4 !important;
}
.verticleline{
border-left: 1px solid grey;
height: 39px;
top: 8px;
}
input {
background-color: transparent;
border: 0px solid;
margin-left: 12px;

}
.margin-left20{
margin-left: 20px;
}
.mginleft-27{
   margin-left: -27px;       
}
.marginleft-10{
   margin-left: -10px;
}
.mgnleft15{
margin-left: 15px;
}
.gly-rotate-80 {
transform: rotate(80deg);
}
.gly-rotate-252 {
 transform: rotate(252deg);
}
/* .navbar-default .container {
margin: 0px;
padding: 0px;
} */
.row-edit{
width:1201px;
}
